/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.greykop{
  background-color: #343f4b;
}

.greykop-text{
  color: #343f4b;
}

.nav-wrapper-custom .input-field input[type=search] {
  height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  border: 0.1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bold{
  font-weight: bold;
}
